header {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 0.5rem;
	color: white;
}

header>div{
	background-color: var(--background_menu);
	margin: 0.5rem;
	border-radius: 16px;
	box-shadow: 0 1px 3px 2px dimgrey;
}

header>div>a {
	text-decoration: none;
	padding: 0.7rem;
	margin: 0.25rem;
	border-radius: 12px;
}

header>div>a.active{
	background-color: var(--background_menu_active);
}

header>div>a:hover {
	background-color: var(--background_hover);
}

header .menu {
	display: flex;
	justify-self: flex-start;
	justify-content: center;
	align-items: center;
	text-align: center;
}

header .login {
	display: flex;
	justify-self: flex-end;
	justify-content: center;
	align-items: center;
	text-align: center;
}

header .logged {
	display: flex;
	justify-self: flex-end;
	justify-content: center;
	align-items: center;
	text-align: center;

	position: relative;
}

header .logged:hover {
	box-shadow: 0 1px 3px 2px salmon;
}

header .logged label {
	-webkit-appearance: push-button;
	-moz-appearance: button;
	cursor: pointer;
}

header .logged label img {
	margin: 0 0.5rem 0 0.5rem ;
	height: 40px;
	width: 40px;
}

header span {
	min-width: 110px;
	overflow: auto;
	background-color: var(--background_menu);
	border: 1px solid rgb(25, 27, 31);
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 1;
	right: 0rem;
	visibility: collapse;
	top: 3.5rem;
	box-shadow: 0 1px 3px 2px dimgrey;
}

header span a {
	text-align: center;
	text-decoration: none;
	color: white;
	padding: 0.5rem;
	margin: 0.25rem;
	border-radius: 12px;
}

header span a:hover {
	background-color: var(--background_hover);
}

header input[type=checkbox] {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

 /* Toggled State */
header input[type=checkbox]:checked ~ span {
	visibility: visible;
}
