input[type="radio"][name="warning_btn"][value="open"] {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 0;
	margin: 0;
	padding: 0;
}

input[type="radio"][name="warning_btn"][value="open"]:checked ~ input[type="radio"][name="warning_btn"][value="close"] {
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 999998;
	position: fixed;
	opacity: 0;
	margin: 0;
	padding: 0;
}

input[type="radio"][name="warning_btn"][value="close"] {
	display: none;
}

input[type="radio"][name="warning_btn"][value="open"]:not(:checked) {
	display: none;
}

input[type="radio"][name="warning_btn"][value="open"]:not(:checked) ~ .warning_background{
	display: none;
}

input[type="radio"][name="warning_btn"][value="open"]:not(:checked) ~ .warning{
	display: none;
}

.js_warning .warning_background {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	z-index: 999997;
	opacity: 0.7;
}

.js_warning .warning {
	position: fixed;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	background-color: blanchedalmond;
	z-index: 999999;
	padding: 1rem;
	border-radius: 20px;
}

.js_warning .warning h1 {
	text-align: center;
	color: red;
}

.js_warning .warning p {
	color: black;
	padding: 0 2rem 0 2rem;
	text-align: center;
}