:root {
	--background_color: rgb(31, 31, 31);
	--background_menu: rgb(48, 48, 48);
	--background_menu_active: rgb(28, 28, 28);
	--background_hover: rgb(18, 18, 18);
}

@font-face {
	font-family: 'GoMedium';
	src: url('/fonts/Go-Medium.ttf');
}

* {
	font-family: 'GoMedium', Fallback, sans-serif;
	box-sizing: border-box;
	color: white;
}

html {
	background-color: var(--background_color);
}

body {
	margin: 0;
	padding: 0;
}

main {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: auto;
	margin-bottom: 1rem;
}

.rotate_180{
	rotate: 180deg;
}