main h1 {
	text-align: center;
}

main .thread {
	text-decoration: none;
	background-color: var(--background_menu);
	margin: 2rem 0 0 0;
	padding: 1rem 1rem 1rem 0.5rem;
	font-size: 1.1rem;
	border-radius: 30px;
	box-shadow: 0 1px 3px 2px dimgrey;

	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: 1fr;
}

main .thread .vote {
	margin: 0 1rem 0 0;
}

main .thread .vote .vote_align{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, 1fr);
}

main .thread .vote .vote_align div {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

main .thread .post h1 {
	margin: 1rem 0 0.5rem 0;
	text-align: center;
}

main .thread .post .content {
	font-size: 1.1em;
	line-height: 1.3em;
}


button {
	background: none;
	border: none;
	font: inherit;
	cursor: pointer;
}

button svg {
	width: 3rem;
	height: 3rem;
	background: url("/img/null.svg") no-repeat center;
}

button[name="vote_up"] svg.voted {
	width: 3rem;
	height: 3rem;
	background: url("/img/up.svg") no-repeat center;
}
button[name="vote_down"] svg.voted {
	background: url("/img/down.svg") no-repeat center;
}

button[name="vote_up"] svg:hover {
	background: url("/img/up.svg") no-repeat center;
}

button[name="vote_down"] svg:hover {
	background: url("/img/down.svg") no-repeat center;
}