body {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	width: 50%;
	margin: auto;
}

form {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(5, 1fr);
	background-color: var(--background_menu);
	border-radius: 20px;
	padding: 1rem;
	margin-top: auto;
	margin-bottom: auto;
	box-shadow: 0 1px 3px 2px dimgrey;
}

form label {
	font-size: 2rem;
	padding: 1rem 0rem 1rem 0.2rem;
}

form input {
	border: none;
	background-color: rgb(33, 36, 41);
	font-size: 1.5rem;
	padding: 1rem 1rem 1rem 1rem;
	border-radius: 16px;
}

form .buttons {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(1, 1fr);
}

form .buttons button{
	border: none;
	border-radius: 16px;
	margin: 1rem 0rem 0 0.5rem;
	font-size: 1.5rem;
	cursor: pointer;
}

form .buttons button.create{
	background-color: #04AA6D;
}

form .abutton {
	--webkit-appearance: button;
	--moz-appearance: button;
	appearance: button;

	text-decoration: none;
	border: none;
	border-radius: 16px;
	margin: 1rem 0.5rem 0 0rem;
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

form .abutton.cancel {
	background-color: #f44336;
}

form .abutton.forgot {
	background-color: rgb(33, 114, 229);
}