{{define "head"}}
	<head>
		<meta charset='utf-8'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<title>{{.Name}}</title>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<link rel='stylesheet' type='text/css' media='screen' href='/css/main.css'>
		<link rel='stylesheet' type='text/css' media='screen' href='/css/js_warning.css'>
		{{range .Css}}
			<link rel='stylesheet' type='text/css' media='screen' href='/css/{{.}}.css'>
		{{end}}
	</head>
{{end}}