{{define "header"}}
	<header>
		<div class="menu">
			<a href="/" {{if not .Is_logged}}class="active"{{end}}>Index</a>
			<a href="/logged" {{if .Is_logged}}class="active"{{end}}>Logged</a>
		</div>
		{{if .Is_logged}}
			<div class="logged">
				<label for="toggle_profile_menu">
					<img src="/img/profile.svg"/>
				</label>
				<input autocomplete="off" type="checkbox" id="toggle_profile_menu">
				<span>
					<a href="/">Item 1</a>
					<a href="/">Item 2</a>
					<a href="/">Item 3</a>
					<a href="/">Item 4</a>
				</span>
			</div>
		{{else}}
			<div class="login">
				<a href="/log_in">Log In</a>
				<a href="/sign_in">Sign In</a>
			</div>
		{{end}}
	</header>
{{end}}