{{define "index"}}
	<!DOCTYPE html>
	<html>
	{{template "head" .}}
	<body>
		{{template "js_warning"}}
		{{template "header" .}}
		<main>
			{{ range $thread := .Threads}}
				<a href="/post/{{$thread.Title}}" class="thread">
					{{if $.Is_logged}}
						<form autocomplete="off" class="vote" method="post">
							<!-- Necessary information for every request -->
							<input type="hidden" name="token" value="token_example">
							<input type="hidden" name="post_id" value="{{$thread.Title}}">
							<div class="vote_align">
								<button type="submit" name="vote_up">
									<svg {{if eq $thread.Vote 1}}class="voted"{{end}}>
								</button>
								</button>
								<div>{{$thread.Votes}}</div>
								<button type="submit" name="vote_down" class="rotate_180">
									<svg {{if eq $thread.Vote 2}}class="voted"{{end}}></svg>
								</button>
							</div>
						</form>
					{{else}}
						<div class="vote">
							<div class="vote_align">
								<button name="vote_up">
									<svg></svg>
								</button>
								<div>{{$thread.Votes}}</div>
								<button name="vote_down" class="rotate_180">
									<svg></svg>
								</button>
							</div>
						</div>
					{{end}}
					<div class="post">
						<h1>{{$thread.Title}}</h1>
						<di class="content">
							{{$thread.Content}}
						</di>
					</div>
				</a>
			{{end}}
		</main>
	</body>
	</html>
{{end}}