{{define "js_warning"}}
	<div class="js_warning">
		<input autocomplete="off" type="radio" name="warning_btn" value="open" checked="">
		<input autocomplete="off" type="radio" name="warning_btn" value="close">

		<div class="warning_background"></div>

		<div class="warning">
			<h1>Warning!</h1>
			<p>JavaScript is enabled!</p>
			<p>Please disable it immediately!</p>
			<p>Firefox: New Tab > about:config > Search "javascript.enabled" > Toggle</p>
		</div>
	</div>
	<noscript>
		<style>.js_warning { display: none !important; }</style>
	</noscript>
{{end}}