{{define "log_in"}}
	<!DOCTYPE html>
	<html>
		{{template "head" .}}
		<body>
			{{template "js_warning"}}
			<form autocomplete="off" method="post">
				<label for="username"><b>Username</b></label>
				<input type="text" placeholder="Enter Username" name="username" required>
				<label for="password"><b>Password</b></label>
				<input type="password" placeholder="Enter Password" name="password" required>
				<div class="buttons">
					<a href="/" class="abutton cancel">Cancel</a>
					<button type="submit" class="log_in">Log In</button>
				</div>
				<div class="other">
					<a href="/forgot_password" class="forgot">Forgot Password</a>
					<a href="/sign_in" class="sign_in">Sign In</a>
				</div>
			</form>
		</body>
	</html>
{{end}}