{{define "post"}}
	<!DOCTYPE html>
	<html>
	{{template "head" .}}
	<body>
		<!-- {{template "js_warning"}} -->
		{{template "header" .}}
		<main>
			{{if eq .Post.Title "Not Found"}}
				<h1>No post found</h1>
			{{else}}
				<div class="thread">
					{{if $.Is_logged}}
						<form autocomplete="off" class="vote" method="post">
							<!-- Necessary information for every request -->
							<input type="hidden" name="token" value="token_example">
							<input type="hidden" name="post_id" value="{{.Post.Title}}">
							<div class="vote_align">
								<button type="submit" name="vote_up">
									<svg {{if eq .Post.Vote 1}}class="voted"{{end}}>
								</button>
								</button>
								<div>{{.Post.Votes}}</div>
								<button type="submit" name="vote_down" class="rotate_180">
									<svg {{if eq .Post.Vote 2}}class="voted"{{end}}></svg>
								</button>
							</div>
						</form>
					{{else}}
						<div class="vote">
							<div class="vote_align">
								<button name="vote_up">
									<svg></svg>
								</button>
								<div>{{.Post.Votes}}</div>
								<button name="vote_down" class="rotate_180">
									<svg></svg>
								</button>
							</div>
						</div>
					{{end}}
					<div class="post">
						<h1>{{.Post.Title}}</h1>
						<di class="content">
							{{.Post.Content}}
						</di>
					</div>
				</div>
			{{end}}
		</main>
	</body>
	</html>
{{end}}