{{define "sign_in"}}
	<!DOCTYPE html>
	<html>
		{{template "head" .}}
		<body>
			{{template "js_warning"}}
			<form autocomplete="off" method="post">
				<label for="username"><b>Username</b></label>
				<input type="text" placeholder="Enter Username" name="username" required>
				<label for="password"><b>Password</b></label>
				<input type="password" placeholder="Enter Password" name="password" required>
				<label><b>Repeat Password</b></label>
				<input type="password" placeholder="Enter Password" name="repeat_password" required>
				<div class="buttons">
					<a href="/" class="abutton cancel">Cancel</a>
					<button type="submit" class="create">Create</button>
				</div>
			</form>
		</body>
	</html>
{{end}}